// Define variables for your color scheme

// For example:

$aubergine: #1A1423;
$purple: #372549;
$brown-pink: #774C60;
$rose:  #B75D69;
$beige: #EACDC2;
$white: #FFF;
$heart-red: #D23333;

//Standard colors
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;
